.main-container{
    width: 400px;
    height: 100vh;
    overflow-x: hidden;
}
.main-scanner{
    width: 300px;
    overflow-x: hidden;
}
.scan-item{
    background-color: green;
}
.btn-place-order {
    width: 300px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    border-width: 0px;
    padding: 10px 16px;
    background-color: #3f83f8;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  /* .main-scanner {
    width: 100%;
    max-width: 400px;
    margin: auto;
  } */
  
 .main-container-shop{
    margin-top: 30qpx;
    text-align: center;
 }